$skin: #ffd1c2;
$brown: #452826;
$pink: #F6828C;
$cloth:#f68e97;
$laptop:#a2a2a2;
$break:420px;
body{
  margin:0;
  min-height: 560px;
  //min-width: 550px;
}
#home{
  display: flex;
  background: black;
  width: 100vw;
  height: 100vh;
  min-height: 560px;
  //min-width: 550px;
  justify-content: space-between;

  .space{
    display: flex;
  }
}
.intro{
  margin-top: 150px;

@-webkit-keyframes textTyping { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1 {
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid white;
  color: white;
	width: 21ch;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: textTyping 5s steps(21, end),
	           blink-caret .5s step-end infinite alternate;

   @media screen and (max-width: $break) {
    font-size: 20px;
  }
  @media screen and (min-width: $break) {
    font-size: 40px;
  }

}
}

@mixin border($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
}
@mixin transform-origin($t) {
  -webkit-transform-origin: $t;
     -moz-transform-origin: $t;
      -ms-transform-origin: $t;
       -o-transform-origin: $t;
          transform-origin :$t;
}

@mixin transform($t) {
    transform: $t;
    -webkit-transform: $t;/* Safari and Chrome */
    -moz-transform: $t;/* Firefox */
    -ms-transform: $t;
  }

@mixin animation-name($n){
  -webkit-animation-name:$n;
  animation-name:$n;
}
@mixin animation-duration($d){
  -webkit-animation-duration:$d;
  animation-duration:$d;
}
@mixin animation-iteration-count($i){
  -webkit-animation-iteration-count:$i;
  animation-iteration-count:$i;
}
