$skin: #ffd1c2;
$brown: #452826;
$pink: #F6828C;
$cloth:#f68e97;
$laptop:#a2a2a2;
$break:420px;

@mixin border($b) {
  border-radius: $b;
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
}
@mixin transform-origin($t) {
  -webkit-transform-origin: $t;
     -moz-transform-origin: $t;
      -ms-transform-origin: $t;
       -o-transform-origin: $t;
          transform-origin :$t;
}

@mixin transform($t) {
    transform: $t;
    -webkit-transform: $t;/* Safari and Chrome */
    -moz-transform: $t;/* Firefox */
    -ms-transform: $t;
  }
@mixin animation($a){
  -webkit-animation: $a;
  -moz-animation: $a;
  -o-animation: $a;
  animation: $a;
}

body{
  margin:0;
  min-height: 560px;
  //min-width: 550px;
}
#home{
  display: flex;
  background: black;
  width: 100vw;
  height: 100vh;
  min-height: 560px;
  //min-width: 550px;
  justify-content: space-between;

  .space{
    display: flex;
  }
}
.intro{
  margin-top: 150px;

@-webkit-keyframes textTyping { from { width: 0; } }
@-webkit-keyframes blink{
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes type{to {width: 100%;}}
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

p {
  position: relative;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color:white;
  @include animation(type 1.5s 1.5s steps(20, end) forwards);

   @media screen and (max-width: $break) {
    font-size: 20px;
  }
  @media screen and (min-width: $break) {
    font-size: 30px;
  }
}
.cursor{
  color: white;
  @include animation(blink 1s 2s infinite/*2 forwards*/);
}
}
