body {
  margin: 0;
  min-height: 560px; }

#home {
  display: flex;
  background: black;
  width: 100vw;
  height: 100vh;
  min-height: 560px;
  justify-content: space-between; }
  #home .space {
    display: flex; }

.intro {
  margin-top: 150px; }

@-webkit-keyframes textTyping {
  from {
    width: 0; } }

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }
  .intro h1 {
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid white;
    color: white;
    width: 21ch;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: textTyping 5s steps(21, end), blink-caret 0.5s step-end infinite alternate; }
    @media screen and (max-width: 420px) {
      .intro h1 {
        font-size: 20px; } }
    @media screen and (min-width: 420px) {
      .intro h1 {
        font-size: 40px; } }
