body {
  margin: 0;
  min-height: 560px; }

#home {
  display: flex;
  background: black;
  width: 100vw;
  height: 100vh;
  min-height: 560px;
  justify-content: space-between; }
  #home .space {
    display: flex; }

.intro {
  margin-top: 150px; }

@-webkit-keyframes textTyping {
  from {
    width: 0; } }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes type {
  to {
    width: 100%; } }

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent; } }
  .intro p {
    position: relative;
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    color: white;
    -webkit-animation: type 1.5s 1.5s steps(20, end) forwards;
    -moz-animation: type 1.5s 1.5s steps(20, end) forwards;
    -o-animation: type 1.5s 1.5s steps(20, end) forwards;
    animation: type 1.5s 1.5s steps(20, end) forwards; }
    @media screen and (max-width: 420px) {
      .intro p {
        font-size: 20px; } }
    @media screen and (min-width: 420px) {
      .intro p {
        font-size: 30px; } }
  .intro .cursor {
    color: white;
    -webkit-animation: blink 1s 2s infinite;
    -moz-animation: blink 1s 2s infinite;
    -o-animation: blink 1s 2s infinite;
    animation: blink 1s 2s infinite; }
